header {
  text-align: center;
}
.title-letter {
  padding: 6px 10px;
  border-radius: 100%;
  margin: 3px;
  margin-top: 5px;
}
.title-letter-C {
  background-color: green;
}
.title-letter-R {
  background-color: darkorange;
  color: black;
}
.title-letter-U {
  background-color: cornflowerblue;
  color: black;
}
.title-letter-D {
  background-color: brown;
}
