body {
  background-color: #aaa;
}
.sheet-table {
  border: 1px solid; padding: 3px; padding-left: 8px;
}
.edit, .delete {
  border: none; text-align: center;
}
.w100 {
  width: 100%; position: relative; right: 5px;
}
#movie-notes {
  width: 520px;
}
#tables {
  min-height: 60px;
}
